/* Website Font */
* {
  font-family: 'Ubuntu', sans-serif;
}


/* nav */
nav {
  margin: 0 30px;
}
a.brand-nav, a {
  color: white;
  text-decoration: none;
}


nav ul li {

  display: inline-block;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 10px;
}
nav ul li a:hover {
  color: #d9d9d9;
  text-decoration: none;

}

/* Jumbotron setting */
.jumbotron {
  background: url(../img/building_2800_fix.jpg);
  background-position: center;
  color: white;
  height: 400px;
  position: relative;
}
.jumbotron h1 {
  font-size: 2em;
}
.jumbotron .container {
  margin-top: 50px;
}

/* Column setting */


.marketing {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.marketing-intro
{
  word-wrap: break-word;
}

.section-case
{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.section-case:after
{
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 25%;
}
.section-case:before
{
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 25%;
}

.section-involve:after
{
    display: inline-block;
    margin: 0 0 10px 20px;
    height: 1px;
    content: " ";
    text-align: left;
    text-shadow: none;
    background-color: #999;
    width: 70%;
}

.section-word:before
{
    display: inline-block;
    margin: 0 20px 10px 0;
    height: 1px;
    content: " ";
    text-align: right;
    text-shadow: none;
    background-color: #999;
    width: 67%;
}

.img-fluid
{
    width: 300px;
    height: 200px;
    margin: 20px 0 20px 0;

}

.btn-join
{
    width: 40%;
    height: 40px;
}

.rounded-circle
{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
